.idea/
.settings/
.terraform/
.vscode/
.classpath
.DS_Store
.project
.terraform.*
*.iml
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
config-*.yaml
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
